<h1>Ahoy, <%= @pirate.name %>!</h1>
<p>Name: <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>

<h2>Your First Ship!</h2>
<p>Name: <%= @ships[0].name %></p>
<p>Type: <%= @ships[0].type %></p>
<p>Booty: <%= @ships[0].booty %></p>

<h2>Your Second Ship!</h2>
<p>Name: <%= @ships[1].name %></p>
<p>Type: <%= @ships[1].type %></p>
<p>Booty: <%= @ships[1].booty %></p>
